.cities_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.cities_cards {
    display: flex;
    gap: 45px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.cities{
    margin-top: 35px;
}

@media only screen and (max-width: 600px) {

    .cities{
        padding: 0px;
    }

    .cities .cities_cards{
        gap: 10px;
    }

    .cities_cont{
        margin-top: 25px;
    }
}