.properties_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.properties_cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {

  .properties_cards{
    gap: 8px;
    margin-top: 10px;
  }

  .properties_cont{
    gap: 15px;
  }

}


